@using Biblioteca_MCF.Enums;
@{
	ViewData["Title"] = "Cadastro de Acervos";
}

@section Scripts {
	<script src="~/js/Controllers/Acervo/index.js"></script>
}

<section class="section-page">
	<div class="container-fluid">

		<header class="header-page">
			<div class="">
				<h1 class="title-page">Acervos</h1>
			</div>

			<div class="">
				<a type="button" class="btn btn-primary btn-md" title="Voltar" asp-controller="Acervo" asp-action="Index">
					<span class="d-none d-lg-inline">Voltar</span> <span class="d-block d-lg-none"><i class="fa-solid fa-arrow-rotate-left"></i></span>
				</a>
			</div>
		</header>

		<div class="body-page">

			<div class="">
				<div class="card p-2" style="background-color:#e9e9e9;">
					<form>
						<div class="row">

							<div class="form-group col-xl-4">
								<label for="iISBN">ISBN</label>
								<input type="number" class="form-control" id="iISBN" placeholder="Código ISBN">
							</div>
							<div class="form-group col-xl-4">
								<label for="iTitulo">Título</label>
								<input type="text" class="form-control" id="iTitulo" placeholder="Título do acervo">
							</div>
							<div class="form-group col-xl-4">
								<label for="iAutor">Autor</label>
								<input type="text" class="form-control" id="iAutor" placeholder="Autor do acervo">
							</div>
							<div class="form-group col-xl-4 mt-4">
								<label for="iAnoPublicacao">Ano de publicação</label>
								<input type="text" class="form-control" id="iAnoPublicacao" placeholder="Ano de publicação">
							</div>
							<div class="form-group col-xl-2 mt-xl-4">
								<label for="iNumPag">Número de páginas</label>
								<input type="number" class="form-control" id="iNumPag" placeholder="Número de páginas">
							</div>
							<div class="form-group col-xl-2 mt-xl-4">
								<label for="iNumCap">Número de capítulos</label>
								<input type="text" class="form-control" id="iNumCap" placeholder="Número de capítulos">
							</div>
							<div class="form-group col-xl-2 mt-xl-4">
								<label for="iTipo">Tipo do livro:</label>
								<select id="iTipo" name="iTipo" class="form-control">
									@foreach (var tipo in Enum.GetValues(typeof(TipoAcervoEnum)))
									{
										<option value="@((int)tipo)">@tipo</option>
									}
								</select>
							</div>
							<div class="form-group col-xl-2 mt-xl-4">
								<label for="iNumExemplares">Número de exemplares</label>
								<input type="number" class="form-control" id="iNumExemplares" placeholder="Número de exemplares">
							</div>
						</div>

						<div class="row justify-content-end mt-4">
							<div class="form-group d-flex justify-content-end">
								<button type="button" id="cadastrar-acervo" class="btn btn-md btn-primary mx-4" title="Cadastrar">Cadastrar</button>
								<button type="button" id="limpar" class="btn btn-md btn-warning" title="Limpar campos">Limpar campos</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>


